## Можна сміливо сказати, що програмування - це завжди про "якісь дії" з "якимись даними".
## А, значить, для того, щоб писати коректні програми, треба 

### 1. Розуміти, з якими даними ви маєте справу на вході програми.
### 2. Розуміти, який вихідний результат від програми очікується.
### 3. Розуміти, які операції над вхідними даними треба провести, щоб отримати очікуваний результат.

### Перші два пункти включають аналіз того, з якими типами даних ви працюєте, як ці типи взаємодіють між собою, які в них є можливості та обмеження.

### Питання 0: як працюватиме наступний код?

### Питання 1: згадати та навести по прикладу значення кожного базового типа в Python:

### Будемо називати кожне окреме значення кожного окремого типа "інстансом" (instance), або "об'єктом" (object) певного типу.

In [19]:
int_var = 12

# об'єкт типу int

In [20]:
string_var = "Morning, boys! How's the water?"

# об'єкт типу string

In [21]:
float_var_1 = 0.1
float_var_2 = 0.2

# інстанси типу float

### Типи задають не тільки вид даних, а й операції, котрі над ними можна проводити. Наприклад, ми можемо додавати int + int

In [22]:
print(1+2)

3

### Або string + string:

In [23]:
first = "I'm"
second = " your teacher"

In [24]:
print (first + second)

I'm your teacher

### Питання 2: який буде результат операції нижче?

In [25]:
float_sum = 0.1 + 0.2

In [26]:
print(float_sum)

0.30000000000000004

### Це все результат такого явища, як floating point precision error. Числа з плаваючою точкою не є безкінечно точними. Існує безліч задач, де їхньої точності достатньо. Але, також, існують задачі, де їхнє використання недоцільно. Наприклад, в них не бажано зберігати фінансову інформацію. [Ось більше деталей про те, як зазвичай влаштований float](https://www.youtube.com/watch?v=PZRI1IfStY0)

### Іноді, можна робити операції над значеннями різних типів.

In [28]:
first_operand = 1
print(f"Тип першого операнду: {type(first_operand)}")

Тип першого операнду: <class 'int'>

In [29]:
sum_float_int = 0.1 + 1.0

In [30]:
print(sum_float_int)

1.1

In [31]:
print(type(sum_float_int))

<class 'float'>

### У випадку взаємодії типів int і float відбулося так зване приведення типів. Фактично, для того, щоб скласти int і float ми зробили із int число з плаваючою точкою.
### Це був приклад неявного приведення типів (implicit type conversion). В тих мовах, де воно існує, зазвичай є певна ієрархія типів даних (наприклад, у Python, коли відбувається операція між float і int, всі цілі числа приводяться до float).

### Окрім цього ми можемо змінити тип даних явно. Для цього достатньо викликати так званий конструктор відповідного типу. Конструктори базових типів - такі ж вбудовані функції, як print(), len(), abs() і так далі. Більше вбудованих функцій [тут](https://www.w3schools.com/python/python_ref_functions.asp).

In [32]:
string_var = "19.91"
print(f"Зараз тип змінної string_var: {type(string_var)}")

casted_to_float_var = float(string_var)
print(f"Після приведення до float тип став {type(casted_to_float_var)}, а значення стало: {casted_to_float_var}")

Зараз тип змінної string_var: <class 'str'>
Після приведення до float тип став <class 'float'>, а значення стало: 19.91

### Питання 3: яким буде результат цих двох операцій int(string_var)

In [68]:
casted_to_int_another_string = int("212")

### Як бачимо, далеко не кожний рядок можна перетворити в число. Але будь яке число може бути перетворене в рядок

In [51]:
integer_value = 1995
float_value = 19.95

In [52]:
int_casted_to_str = str(integer_value)
float_casted_to_str = str(float_value)

In [53]:
concatenated_string = int_casted_to_str + float_casted_to_str

In [55]:
concatenate("A", "B")

'AB'

### Зверніть увагу, що ми не вказуємо в змінній значення якого типу туди потрапить. Ми цілком можемо покласти в зміну var як int, так і string. Цей підхід називається duck typing ("якщо воно крякає як качка, літає як качка та виглядає як качка - це й є качка") і є одним з видів динамічної системи типізації. Більше, наприклад, [тут](https://stackoverflow.com/a/40434829)

In [56]:
a = 1
print(f"Спочатку тип нашої змінної був числовий: {type(a)}")
a = "Hey hey hey!"
print("Тепер тип нашої змінної став рядковий: {type_a}".format(type_a = type(a)))

Спочатку тип нашої змінної був числовий: <class 'int'>
Тепер тип нашої змінної став рядковий: <class 'str'>

### Якщо ми не впевнені, ми завжди можемо перевірити тип змінної, викликавши вбудовану функцію type()

In [57]:
print(type(19.91))

#Як і було сказано, тип змінної c - float

<class 'float'>

### Або викликати вбудовану функцію isinstance, що приймає першим аргументом змінну, а другим - конструктор типу

In [58]:
print(isinstance(19.91, float))

True

### Питання 4: яким буде результат цієї операції?

In [59]:
sum_str_int = "10" + 2

TypeError: can only concatenate str (not "int") to str

### Інший випадок операцій, де в операндів різні типи, це коли для оператора або вбудовано в мові, або окремим розробником передбачена логіка виконання такої операції

In [60]:
mul_str_int = "10" * 10

In [61]:
print(mul_str_int)

10101010101010101010

In [70]:
""

['my', ' family', ' is', ' best', '']

### Ви можете перебрати символи в рядку за допомогою конструкції for:

In [71]:
example_string = "12345"
for number in example_string:
    print(f"Поточний символ {number}")
    print(f"Квадрат символа: {int(number) ** 2}")

Поточний символ 1
Квадрат символа: 1
Поточний символ 2
Квадрат символа: 4
Поточний символ 3
Квадрат символа: 9
Поточний символ 4
Квадрат символа: 16
Поточний символ 5
Квадрат символа: 25

### Задача 1: вивести суму чисел, котрі складають певний рядок a.
### Наприклад, a = "111", сума = 3

In [83]:
id_number = "greattalentgreatresponsibility-240891"

In [84]:
id_number[:-6]

'greattalentgreatresponsibility-'

### Задача 2: для даних ПІБ і серії-номера паспорту зробити наступне:
### 1. ПІБ очистити від небажаних символів і привести в офіційний формат
### 2. Серію паспорта привести в належний формат (тільки великі літери, ніяких інших символів).
### 3. Вивести серію-номер паспорта в зворотньому порядку.
### 4. Вивести суму цифр в номері паспорта.
### 5. Перевірити, чи є рядок "great poet" в рядку статуса громадянина

### Для цілей задачі вважаємо, що серія може бути довільної довжини, номер - 6 символів.
### Також, нагадую, що якщо ви не знаєте, як шукати специфічні для типу методи (як-то "abc".lower()),
### ви можете завжди викликати вбудовану функцію dir() з переданим у неї конструктором типу.

In [ ]:
corrupted_name_1 = "    $%taras shevchenko& "
id_number = "greattalentgreatresponsibility-240891"
corrupted_status = "jfsnljnlsfgnjfsgnjlsgfnlngfslnsdglnlsdgnljgsdnlnln great poet 'akk;ldnflkjsabg;kbouht024h0pijngadknsn"